In [62]:
import geopandas as gpd
import pandas as pd
import json

In [106]:
# Prep data
with open("../census_RAM/data/socio_vars/sum_num_intmig.json") as m:
    mig_data = json.load(m)
mig_data = pd.DataFrame.from_dict(mig_data, orient = 'index').reset_index()
mig_data.columns = ['muni_id', 'var']
"{:,}".format(mig_data['var'].sum()) + " total international migrants form Mexico in 2005-2010 census."

'4,840,276.0 total international migrants form Mexico in 2005-2010 census.'

In [108]:
df = pd.read_csv("../borderGraph/data/mexico_border_2010.csv")
"{:,}".format(df["num_mig"].sum()) + " total arrivals at each border station along US-Mexico border in 2010."

'242,776,894 total arrivals at each border station along US-Mexico border in 2010.'

In [112]:
bs = pd.read_csv("./data/tabula-U.S. Border Patrol Apprehensions From Mexico and Other Than Mexico (FY 2000 - FY 2020).csv")
bs = bs[["SECTOR", "FY 2005", "FY 2006", "FY 2007", "FY 2008", "FY 2009", "FY 2010"]]
for col in bs.columns:
    if col != "SECTOR":
        bs[col] = bs[col].str.replace(",", "").astype(float)
bs = bs.replace("Big Bend\r(formerly Marfa)", "Big Bend").replace("Rio Grande Valley\r(formerly McAllen)", "Rio Grande")
bs

,SECTOR,FY 2005,FY 2006,FY 2007,FY 2008,FY 2009,FY 2010
0,Livermore,106.0,NaN,NaN,NaN,NaN,NaN
1,Miami,2325.0,1616.0,1612.0,1564.0,1857.0,1837.0
2,New Orleans,983.0,1840.0,2633.0,2923.0,2269.0,1941.0
3,Ramey,1.0,2.0,0.0,0.0,2.0,2.0
4,Blaine,506.0,485.0,518.0,643.0,524.0,376.0
5,Buffalo,221.0,959.0,1271.0,1618.0,1314.0,1143.0
6,Detroit,1327.0,944.0,686.0,664.0,881.0,1196.0
7,Grand Forks,580.0,383.0,334.0,361.0,311.0,388.0
8,Havre,807.0,511.0,409.0,379.0,208.0,184.0
9,Houlton,76.0,58.0,17.0,12.0,10.0,6.0
10,Spokane,173.0,108.0,290.0,296.0,260.0,316.0
11,Swanton,391.0,341.0,284.0,271.0,168.0,157.0
12,Big Bend,9568.0,6791.0,5002.0,4756.0,5573.0,4754.0
13,Del Rio,37276.0,30361.0,16286.0,14916.0,12820.0,10593.0
14,El Centro,54770.0,60723.0,55271.0,40159.0,32602.0,31704.0
15,El Paso,117780.0,117532.0,72293.0,29137.0,13887.0,11194.0
16,Laredo,54553.0,59146.0,44831.0,34403.0,31831.0,27957.0
17,Rio Grande,54332.0,58282.0,51975.0,55401.0,45051.0,40732.0
18,San Diego,124947.0,140821.0,151140.0,160818.0,117227.0,67259.0
19,Tucson,426416.0,382610.0,366456.0,305429.0,230045.0,195921.0
20,Yuma,136767.0,117553.0,37380.0,8016.0,6546.0,6705.0
21,Coastal Border,3415.0,3458.0,4245.0,4487.0,4128.0,3780.0
22,Northern Border,4081.0,3789.0,3809.0,4244.0,3676.0,3766.0
23,Southwest Border,1016409.0,973819.0,800634.0,653035.0,495582.0,396819.0
24,Grand Total,1023905.0,981066.0,808688.0,661766.0,503386.0,404365.0

In [118]:
"{:,}".format(bs[bs["SECTOR"] == "Southwest Border"].drop(['SECTOR'], axis = 1).sum(axis = 1).squeeze()) + " total apprehensions at each Southwest border sector along US-Mexico border between 2005 and 2010."

'4,336,298.0 total apprehensions at each Southwest border sector along US-Mexico border between 2005 and 2010.'

In [119]:
"{:,}".format(bs[bs["SECTOR"].isin(["Southwest Border", "Coastal Border"])].drop(['SECTOR'], axis = 1).sum(axis = 1).sum(axis = 0)) + " total apprehensions at each Southwest & Coastal border sector along US-Mexico border between 2005 and 2010."

'4,359,811.0 total apprehensions at each Southwest & Coastal border sector along US-Mexico border between 2005 and 2010.'

In [120]:
"{:,}".format(bs[bs["SECTOR"] == "Grand Total"].drop(['SECTOR'], axis = 1).sum(axis = 1).squeeze()) + " total apprehensions at all border sectors between 2005 and 2010."

'4,383,176.0 total apprehensions at all border sectors between 2005 and 2010.'

In [123]:
# Border Stations
stations = gpd.read_file("./data/mexico_ports_4326.shp")
stations = stations[['portcode', 'portname', 'geometry']]
stations.head()

  portcode  portname                     geometry
0     2402   El Paso  POINT (-106.45119 31.76437)
1     2404    Fabens  POINT (-106.14274 31.43019)
2     2305   Hidalgo   POINT (-98.27109 26.09503)
3     2403  Presidio  POINT (-104.39491 29.56183)
4     2309  Progreso   POINT (-97.94996 26.06213)

In [124]:
# Each border station assigned to a sector (geocoded using https://www.americanpatrol.com/ABP/SURVEYS/BORDER-2009/Border-Main-20009.html)
port_map = {'Douglas': "Tucson",
 'Lukeville': "Tucson",
 'Naco': "Tucson",
 'Nogales': "Tucson",
 'San Luis': "Yuma",
 'Sasabe': "Tucson",
 'Andrade': "Yuma",
 'Calexico': "El Centro",
 'Calexico East': "El Centro" ,
 'Otay Mesa': "San Diego",
 'San Ysidro': "San Diego",
 'Tecate': "San Diego",
 'Columbus': "El Paso",
 'Santa Teresa': "El Paso",
 'Brownsville-Gateway': "Rio Grande",
 'Del Rio': 'Del Rio',
 'El Paso': "El Paso",
 'Fabens': "El Paso",
 'Hidalgo': "Rio Grande",
 'Presidio': "Big Bend",
 'Progreso': "Rio Grande",
 'Rio Grande City': "Rio Grande",
 'Roma': "Rio Grande",
 'Brownsville-Veterans': "Rio Grande",
 'Eagle Pass': "Del Rio",
 'Laredo-World Trade': "Laredo",
 'Laredo-Columbia': "Laredo", 
 'Los Indios': "Rio Grande",
 'El Paso-Ysleta': "El Paso",
 'El Paso-Stanton': "El Paso",
 'Eagle Pass II': "Del Rio",
 'El Paso-PDN':  "El Paso",
 'Nogales-Mariposa': 'Tucson',
 'San Luis II': "Yuma",
 'Antelope Wells': "El Paso",
 'Fort Hancock':  "El Paso",
 'Falcon Dam': "Laredo",
 'Laredo': "Laredo",
 'Laredo-Juarez/Lincoln': "Laredo",
 'Los Ebanos (Ferry)': "Rio Grande",
 'Pharr': "Rio Grande",
 'Anzalduas': "Rio Grande",
 'Doona': "Rio Grande",
 'Brownsville': "Rio Grande"}

In [125]:
stations["sector"] = stations['portname'].map(port_map)
stations.head()

  portcode  portname                     geometry      sector
0     2402   El Paso  POINT (-106.45119 31.76437)     El Paso
1     2404    Fabens  POINT (-106.14274 31.43019)     El Paso
2     2305   Hidalgo   POINT (-98.27109 26.09503)  Rio Grande
3     2403  Presidio  POINT (-104.39491 29.56183)    Big Bend
4     2309  Progreso   POINT (-97.94996 26.06213)  Rio Grande

In [126]:
bs = bs[bs['SECTOR'].isin(port_map.values())]
"{:,}".format(bs.sum(axis = 1).sum()) + " total apprehensions at each Southwest border sector along US-Mexico border between 2005 and 2010."

'4,336,298.0 total apprehensions at each Southwest border sector along US-Mexico border between 2005 and 2010.'

In [138]:
bs_counts = pd.DataFrame(bs.sum(axis = 1))
bs_counts['sector'] = bs["SECTOR"]
bs_counts.columns = ["num_mig", "sector"]
bs_counts

      num_mig      sector
12    36444.0    Big Bend
13   122252.0     Del Rio
14   275229.0   El Centro
15   361823.0     El Paso
16   252721.0      Laredo
17   305773.0  Rio Grande
18   762212.0   San Diego
19  1906877.0      Tucson
20   312967.0        Yuma

In [140]:
bs_counts.to_csv("./num_migrants_by_sector.csv", index = False)

In [127]:
stations.to_csv("./border_sector_data_2005-2010.csv")